<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Careers page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        #banner {
            height: 360px;
            object-fit: cover;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center mt-2 mb-4">Phi Careers</h1>    
        <img class="img-fluid" id="banner" src="http://127.0.0.1:5000/static/Just_do_it.jpg" alt="">
        <h2 class="text-center mt-2 mb-4">About Phi</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h2 class="text-center mt-2 mb-4">Open Positions</h2>
        <p class="bodytext">TODO- Show the jobs here</p>
        <div class="text-center mt-2 mb-4">
            <button class="btn btn-primary btn-lg">Contact Us!</button>
            <p class="mt-4">Copyright 2023, Ishaan Phaye</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>